body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2,
h3,
p,
h1,
ul {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 1720px;
    margin: 0px auto;
}

.header {
    padding: 41px 0px;
    border-bottom: 2px solid #779611;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 120px;
}

.header-list {
    display: flex;
    gap: 80px;
}

.header-link {
    color: #707070;
    font-weight: 500;
    text-transform: capitalize;
}

.hero {
    border-bottom: 2px solid #779611;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 443px;
}

.hero-title {
    font-family: "Exo 2", sans-serif;
    color: #779611;
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 600;
    max-width: 65%;
}

.hero-text {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}

.hero-link {
    background-color: #779611;
    color: #f9f9f9;
    font-size: 32px;
    padding: 18px 70px;
    border-radius: 40px;
}

.flaves {
    padding: 80px 0px;
}

.flaves-title {
    font-weight: 600;
    font-size: 36px;
    color: #779611;
    font-family: "Exo 2", sans-serif;
    padding-bottom: 35px;
}
.flaves-desk{
    padding-bottom: 50px;
}
.flaves-list{
    display: flex;
    gap: 20px;
}
.flaves-caption{
    font-size: 24px;
color: #779611;
font-weight: 400;
text-transform: capitalize;
padding-top: 35px;
margin-left: 60px;
}
.flaves-text{
    font-weight: 400;
    padding-top: 15px;
    margin-left: 60px;
}
.subs {
    padding: 80px 0px;
}

.subs-title {
    font-weight: 600;
    font-size: 36px;
    color: #779611;
    font-family: "Exo 2", sans-serif;
    padding-bottom: 35px;
}
.subs-desk{
    padding-bottom: 50px;
}
.subs-list{
    display: flex;
    gap: 20px;
}
.subs-caption{
    font-size: 24px;
    color: #779611;
    font-weight: 400;
    text-transform: capitalize;
    padding-top: 35px;
    margin-left: 60px;

}
.subs-text{
    font-weight: 400;
    padding-top: 15px;
    margin-left: 60px;
   
}
.subs-cost{
    margin-left: 60px;
    padding: 15px; 
}
.about {
    border-bottom: 2px solid #779611;
border-top: 2px solid #779611;

}

.about-container {
    display: flex;
    align-items: center;
    gap: 455px;
    padding: 114px 0px;
}

.about-title {
    font-weight: 600;
    font-size: 48px;
    color: #779611;
    padding-bottom: 35px;
    font-family: "Exo 2", sans-serif;
}
.about-text{
    font-weight: 500;
font-size: 24px;
color: #779611;
padding-bottom: 15px;
}

.about-desk {
    font-weight: 400;
    font-size: 20px; 
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-list{
    line-height: 2;
}
.footer-item, .footer-address, .footer-title, .footer-link{
    font-weight: 400;
    color: #000;
}

.footer-link:hover{
    border-bottom: 2px solid #707070;
}

.footer-address{
    font-style: normal;
}

